


<div class="my-28 mx-20	bg-green-100 bg-opacity-80">
    <% for item in @movies %>
        <p class="text-sm py-6"><%= item["title"] %></p>
        <input type="hidden"   name="model[attr]" value="0" />
        <input type="checkbox" name="model[attr]" value="1" />
    <% end %>
</div>
