

<div class="gb1">

<h1>My Profile</h1>



<%= link_to "My Info", user_profile_info_path(current_user) %>
<%= link_to "My Lookalike profile", user_profile_lookalike_path(current_user) %>
<img src="../assets/images/bugbackgrounds1.jpg" alt="Girl in a jacket" width="500" height="600">
</div>