/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* tailwind */

 @media screen and (min-device-width: 768px) {
    .sidenav {
        position: fixed;
        z-index: 100;
        height: 100%;
        width: 200px;
        top: 0;
        left: 0;
        background-color: orange;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
      }


      body {
        padding-left: 200px;
    }

    input[type=text]{
        width: 300px;
    }

    .text-block {
        width: 12rem;
        word-wrap: break-word;
    }
    
}


@media screen and (max-device-width: 769px) {

    body{
        margin-bottom: 500px;
    }

    .sidenav {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 30%;
        bottom: 0;
        background-color: orange;
        display: flex;
        justify-content: center;
    }

    input[type=text] {
        width: 500px;
        height: 50px;
    }

    .field {
        font-size: 45px;
    }

    .nav-text {
        font-size: 45px;
    }

  

    td {
        font-size: 28px;
    }

    .my_look_a_like {
        margin-bottom: 1000px;
    }

    .text-block {
        width: 18rem;
        word-wrap: break-word;
    }

    .login {
        font-size: 3rem;
    }
    
    

}





input[type=text] {
    border: 1.5px solid lightgrey;
    border-radius: 0.25rem;
    background-color: plum;
    
}

input:focus {
    background-color: lightgreen;
    color: grey;
}

.round {
    clip-path: circle(100px at center);
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
}

// .square {
//     clip-path: rect(10px, 20px, 30px, 40px);
//     margin-bottom: 10px;
//     width: 100%;
//     height: 200px;
// }

.picture {
    position: absolute;
    justify-content: center;
    width: auto;
    height: 200px;
    width: auto\9; /* ie8 */
}



.look-alike-card {
    height: 600px;
    width: 450px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.look-alike-bio {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: 3;
    background-color: wheat ;
}

.look_alike_pics{
    position: relative;
    height: 72%;
    display: flex;
    justify-content: center;
    z-index: 0;
}
.pics {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}


html,body {

    min-height: 100%;
    background-image: url(/assets/gb1.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;

}


.profile-container {

    background-color: rgba(199, 252, 252, 0.63);
}


