


<div class="mx-auto px-2 sm:px-5 flex justify-center">
<ul class="flex flex-col">
<% if current_user %>
 
        <li class= "inline-block p-4">
            <%= link_to "my events", user_events_path, class: "nav-link" %>
        </li>

        <li class= "inline-block p-4">
            <%= link_to "my profile", user_profile_path, class: "nav-link" %>
        </li>

<% else %>




<% end %>


    <li class= "inline-block p-4">
        <%= link_to "events", events_path, class: "nav-link" %>
    </li>

    <li class= "inline-block p-4">
        <%= link_to "look-a-likes", look_a_likes_path, class: "nav-link" %>
    </li>
</ul>
</div>